@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* generell stiling */
body {
    background-color: gainsboro;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    color: rgb(40, 40, 40);
    font-size: 1.3rem;
}

/* tekstinput feltet */
input {
    background-color: white;
    width: 200px; 
    padding: 20px; 
    border: none; 
    border-radius: 15% / 70%;
    box-shadow: inset -5px -5px 15px hsla(0, 0%, 0%, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    
}
input:focus {
    border: none; 
    outline: none; 
    border-radius: 15% / 70%;  
}
/* knapper */ 
button {
    margin: 10px; 
    padding: 20px; 
    border: none; 
    border-radius: 20px;
    background-color: darkslategray;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.2);
}
button:focus {
    outline: none;
}
button:hover {
    background-color:darkcyan;
}
#spinButton {
    width: 250px; 
    display: block;
    margin: 30px auto; 
    visibility: hidden;
}
/* liste over navnene */
ul {
    max-width: 800px;
    margin: 50px auto; 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: grey;
    box-shadow: inset -5px -5px 15px hsla(0, 0%, 0%, 0.3);
    border-radius: 20px;
}
li {
    max-width: 100px; 
    padding: 20px; 
    background-color: darkcyan;
    border-radius: 10%;
    margin: 20px; 
    transition: ease .5s;
}
/* lykkehjulet */
img {
    width: 300px;
    height: 300px; 
    background-color: darkcyan;
    border-radius: 50%;
    margin: 50px auto; 
}
/* PopUp */
#spinResultElement {
    position: absolute;
    top: 150px;
    left: 40%; 
    padding: 50px; 
    background-color: white;
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 3s;
    width: 200px; 
    text-align: center;
    border-radius: 20px; 
}
/* animasjoner */

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(720deg)}
}