@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* generell stiling */

body {
    background-color: gainsboro;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 100px;
}

h1 {
    color: rgb(40, 40, 40);
    font-size: 1.3rem;
}

/* tekstinput feltet */

input {
    background-color: white;
    width: 200px; 
    padding: 20px; 
    border: none; 
    border-radius: 15% / 70%;
    box-shadow: inset -5px -5px 15px hsla(0, 0%, 0%, 0.1);
    font-family: 'Source Sans Pro', sans-serif;    
}

input:focus {
    border: none; 
    outline: none; 
    border-radius: 15% / 70%;  
}

/* knapper */ 

button {
    margin: 10px; 
    padding: 20px; 
    border: none; 
    border-radius: 20px;
    background-color: darkslategray;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.2);
}

button:focus {
    outline: none;
}

button:hover {
    background-color:darkcyan;
}

#spinButton {
    margin-top: 40px; 
    width: 250px; 
    visibility: hidden;
}

#spinner {
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
}
#result { 
    display: inline-block; 
    vertical-align: baseline;
    margin-left: 100px;   
    min-width: 600px;
}
/* liste over navnene */

ul {
    margin: 0;
    padding: 0; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 20px;
    height: 450px; 
}

li {
    max-width: 100px;
    padding: 20px; 
    background-color: darkcyan;
    color: white; 
    border-radius: 15px;
    margin: 25px;
}

/* lykkehjulet */

img {
    width: 300px;
    height: 300px; 
    background-color: darkcyan;
    border-radius: 50%;
    margin: 50px auto; 
}

/* PopUp */

#spinResultElement {
    position: absolute;
    top: 150px;
    left: 40%; 
    padding: 50px; 
    background-color: white;
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 3s;
    width: 200px; 
    text-align: center;
    border-radius: 20px; 
}

/* animasjoner */

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(720deg)}
}